[build]
builder = "NIXPACKS"

[build.nixpacksConfig]
nixpkgs = "https://github.com/NixOS/nixpkgs/archive/nixpkgs-unstable.tar.gz"

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
NODE_ENV = "production"
